{% extends 'tabbed-section.html' %}

{% block contents %}
<main role="main">
  <article>

    <nav class="tabbed-nav">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#about" role="tab" data-toggle="tab">About</a>
        </li>
        <li>
          <a href="#goals" role="tab" data-toggle="tab">Goals</a>
        </li>
        <li>
          <a href="#features" role="tab" data-toggle="tab">Features</a>
        </li>
      </ul>
    </nav>

    <div class="tab-content">

      <section class="content management tab-pane fade in active" id="about">
        <h1>About</h1>
      </section>

      <section class="content boards tab-pane fade" id="goals">
        <h1>Goals</h1>
      </section>

      <section class="content investors tab-pane fade" id="features">
        <h1>Featues</h1>
      </section>

    </div>

    <section class="cta-wrapper">
      {% include "./partials/cta.html" with cta only %}
    </section>

  </article>

</main>

{% endblock %}
