/*
Headlines

Type styles

Markup:
<h1>An H1 Header: Hamburgerfions Sasquach</h1>
<h2>An H2 Header: Hamburgerfions Sasquach</h2>
<h3>An H3 Header: Hamburgerfions Sasquach</h3>
<h4>An H4 Header: Hamburgerfions Sasquach</h4>
<h5>An H5 Header: Hamburgerfions Sasquach</h5>
<h6>An H6 Header: Hamburgerfions Sasquach</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<blockquote>Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.</blockquote>
<ul>
  <li>A list item</li>
  <li>A list item</li>
  <li>A list item</li>
  <li>A list item</li>
  <li>A list item</li>
</ul>

Styleguide 4.1
*/

/*
 we were using a font-face mixin, but packaging fonts was tricky with licensing...
 now were using bower to pull in this package
*/

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-Light.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-LightIt.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-It.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-Semibold.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-Bold.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-BoldIt.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-Black.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-Black.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('/vendor/fontface-source-sans-pro/fonts/EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'),
         url('/vendor/fontface-source-sans-pro/fonts/OTF/SourceSansPro-BlackIt.otf') format('opentype'),
         url('/vendor/fontface-source-sans-pro/fonts/TTF/SourceSansPro-BlackIt.ttf') format('truetype');
}

textarea,
input {
  @include placeholder {
    line-height: 1.5;
  }
}

h1,
h2,
h3,
h4 {
  margin-bottom: .25em;
  line-height: 1.2;
  letter-spacing: .05em;
}

%h6 {
  font-size: $font-size-h5;
  font-family: $font-family-base;
  font-weight: bold;
}
